.cultos {
    background-color: #011F26;
    padding-left: 10%;
    padding-right: 10%;

}

@media (max-width: 768px) {
.cultos{
    background-color: #011F26;
}
}

.image-container-ojo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}